

<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_item-list">
            <li class="main-header_item">
                <a class="active" href="/">Store</a>
            </li>
            <li class="main-header_item">
                <a class="active" href="/admin/add-item">Add-item</a>
            </li>
        </ul>
    </nav>
</header>



