doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=devicewidth, initial-scale=1")
    title 404 PAGE
  body
    header
      nav
        ul
          h1 ADD-ITEM
          li
            a(href="/") Store
          li
            a(href="/admin/add-item") Add Item
    main
      h1 404 ERROR PAGE NOT FOUND
