<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css" />
<title><% docTitle %></title>
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <form class="add-item-form" action="/admin/add-item" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" />
            </div>
            <button class="submit">Add Item</button>
        </form>
    </main>
</body>
</html>