doctype html doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{docTitle}'s Page 
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
  body 
    header.main-header 
      nav.main-header_nav 
        ul.main-header_item-list 
          li.main-header_item 
            a.active(href="/") Store 
          li.main-header_item 
            a(href="/admin/add-item") Add Item 
    main 
    h1 #{docTitle}'s Items 
    p List of all items... 
    if (prods.length >0)
    .grid 
      each product in prods 
        article.card.product-item 
          header.card_header 
            h1.product_title  product.title
          .card_image
            img(src="https://m.media-amazon.com/images/I/51yzX9d-E+L._SX260_.jpg"
            ,alt="A Computer Boot")
          .card_content 
            h2.product_price 750฿
            p.product_description A very interesting computer book 
          .card_action 
            button.btn Add to Cart 
