@import url('https://fonts.googleapis.com/css2?family=K2D&family=Mitr&family=PT+Sans&family=Qwitcher+Grypen&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family:"Open Sans",sans-serif;
}
main {
    padding: 1rem;
}
.main-header {
    width: 100%;
    height: 3.5rem;
    padding: 0 1.5rem;
    background-color: #bc1f66;
}
.main-header_nav {
    height: 100%;
    display: flex;
    align-items: center;
}
.main-header_item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.main-header_item {
    margin: 0 1rem;
    padding: 0;
}
.main-header_item a {
    text-decoration: none;
    color: #fff;
}
.main-header_item a:hover,
.main-header_item a:active,
.main-header_item a.active {
    color: #f29544
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.card_header,
.card_content {
    padding: 1rem;
}
.card_header h1,
.card_content h1,
.card_content h2,
.card_content p {
    margin: 0;
}
.card_image {
    width: 100%;
}
.card_image img {
    width: 100%;
}
.card_actions {
    padding: 1rem;
    text-align: center;
}
.card_action button,
.card_action a {
    margin: 0 0.25rem;
}
.btn{
    font: inherit;
    border: 1px solid #bc1f66;
    color: #bc1f66;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.btn:hover,
.btn:active {
    background-color: #bc1f66;
    color: #fff;
}
